<div class="alc-report">
	<h4>Review Comments and Decision</h4>
	<hr>
	<textarea ng-model="fc.forms['Divisional Officer Review'].review"></textarea>
	<label for="decision">Recommendations ok?</label>
	<select id="decision" ng-model="fc.forms['Divisional Officer Review'].decision">
		<option value="true">Accept</option>
		<option value="false">Reject</option>
	</select>
	<small>{{formPostError}}</small>
	<button type="submit" ng-click="fc.saveForm('Divisional Officer Review')">Save</button>
</div>