.alc-report {
	@include clearfix;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	margin-top: 30px;

	h4 {
		padding-left: 25px;
		background-image: url(../../app/images/icon1.svg);
		background-repeat: no-repeat;
		background-position: 0px 50%;
	}

	textarea {
		width: 100%;
		height: 200px;
		font-size: 14px;
		margin-bottom: 10px;
	}

	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	button {
		color: white;
		background-color: #00c459;
		float: right;
		border-style: none;
		padding: 5px 20px;
		font-weight: 300;
	}

	small {
		float: left;
		color: red;
	}

	label:after {
		content: "";
	}

	input {
		display: block;
		border-style: none;
		border-bottom-style: solid;
		border-bottom-color: #d0d0d0;
		margin-bottom: 25px;
		margin-top: 5px;
		font-size: 14px;
		color: #000000;
	}

	select {
		border-style: none;
		border-bottom-style: solid;
		border-bottom-color: #d0d0d0;
		margin-bottom: 25px;
		margin-top: 5px;
		font-size: 14px;
		color: #000000;
	}
}