.form-i {
	
	.building-name-1 {
		width: 400px;
	}

	.address-1 {
		width: 600px;
	}

	.building-name-2 {
		width: 600px;
	}

	.address-2 {
		width: 600px;
	}

	.comprised-of {
		width: 800px;
	}

	.occupancies {
		width: 400px;
	}
}