<div>
	<div>
		<header>
			<section class="logo">
				<img src="app/images/emblem_white.png">
				<div>
					<h3>delhi.gov.in</h3>
					<h6>Govt. of NCT of Delhi</h6>
				</div>
			</section>
			<h3 class="title">Delhi Fire Services</h3>
			<section class="dropdown">
				<input type="checkbox" id="dd">
				<label for="dd">
					<img src="app/images/profile.svg" class="profile">
					<h5>{{tc.user.firstName + ' ' + tc.user.lastName}}</h5>
					<img src="app/images/down.svg" class="dropdown-icon">
				</label>
				<div class="drop-box">
					<ul class="drop-list">
						<li style="display:none">
							<img src="app/images/avatar.svg" class="drop-icon">
							<span>Profile</span>
						</li>
						<li>
							<img src="app/images/logout.svg" class="drop-icon">
							<span ng-click="tc.logout()">Logout</span>
						</li>
					</ul>
				</div>
			</section>
		</header>
		<section class="main">
			<section class="content">
				<section class="top-content navigation">
					<span class="back-navigate" ng-click="tc.goBack()">Dashboard</span>
					<span class="title">#{{tc.task.variables.context.applicationId}} {{tc.task.variables.context.applicationType}}</span>
					<span class="assignee">Assignee <b>{{tc.task.assignee || 'none'}}</b></span>
				</section>
				<section class="content-body">
					<section class="attachments-bar">
						<section class="attachments user-attachments">
							<h5>User Attachments</h5>
							<ul>
								<li ng-repeat="(formName, form) in tc.task.variables.forms" ng-click="tc.selectForm(formName, form)"><img src="app/images/profile.svg"><span>{{formName}}</span></li>
								<li ng-repeat="(documentName, document) in tc.task.variables.documents" ng-click="tc.selectDocument(documentName, document)"><img src="app/images/profile.svg"><span>{{documentName}}</span></li>
							</ul>
						</section>
						<section class="attachments internal-attachments">
							<h5>Internal Attachments</h5>
							<ul>
								<li ng-repeat="(formName, form) in tc.task.variables.internalForms | attachmentFilter:tc.task.taskDefinitionKey" ng-click="tc.selectForm(formName, form)"><img src="app/images/profile.svg"><span>{{formName}}</span></li>
								<li ng-repeat="(documentName, document) in tc.task.variables.internalDocuments | attachmentFilter:tc.task.taskDefinitionKey" ng-click="tc.selectDocument(documentName, document)"><img src="app/images/profile.svg"><span>{{documentName}}</span></li>
							</ul>
						</section>
					</section>
					<section class="display-bar">
						<section class="display">
							<h4 class="display-title">{{tc.selectedAttachment.name || '#' + tc.task.variables.context.applicationId + ' ' + tc.task.variables.context.applicationType}}</h4>
							<hr>
							<div class="display-content">
								<div class="default" ng-show="tc.selectedAttachment.name === undefined">
									<img src="app/images/upload.svg">
									<h4>Select an attachment</h4>
								</div>
								<div class="unknown" ng-show="tc.selectedAttachment.display === 'unknown'">
									<img src="app/images/upload.svg">
									<h4>Unknown file format</h4>
								</div>
								<div class="doc" ng-show="tc.selectedAttachment.display === 'doc'">
									<iframe ng-src="{{tc.selectedAttachment.url}}"></iframe>
								</div>
								<div class="image" ng-show="tc.selectedAttachment.display === 'image'">
									<img ng-src="{{tc.selectedAttachment.url}}">
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Form I'">
									<div class="form form-i">
										<section class="letter-heading">
											<h4>FORM 'I': APPLICATION FOR GRANT OF FIRE SAFETY CERTIFICATE</h4>
											[See sub-rule (2) of rule 35]
										</section>
										<section class="letter">
											<section class="address">
												To<br>
												The Director<br>
												Delhi Fire Service<br>
												Delhi Fire Service Headquarters<br>
												Connaught Place<br>
												New Delhi-110 001<br>
											</section>
											<section class="subject">
												Sub: Application for grant of fire safety certificate in respect of
												<input type="text" class="building-name-1" ng-model="tc.selectedAttachment.attachment.buildingName" disabled>
												at
												<input type="text" class="address-1" ng-model="tc.selectedAttachment.attachment.buildingAddress" disabled>
												(address of building/premises).
											</section>
											<section class="salutation">
												Sir/Madam,
											</section>
											<section class="letter-content">
												<p>
													This is to inform you that a fire safety certificate needs to be issued in respect of
													<input type="text" class="building-name-2" ng-model="tc.selectedAttachment.attachment.buildingName" disabled>
													(name of the building) located at
													<input type="text" class="address-2" ng-model="tc.selectedAttachment.attachment.buildingAddress" disabled>
													(address of the building) comprised of
													<input type="text" class="comprised-of" ng-model="tc.selectedAttachment.attachment.comprisedOf" disabled>
													and having occupancies as
													<input type="text" class="occupancies" ng-model="tc.selectedAttachment.attachment.occupancies" disabled>
													.
												</p>
												<p>
													In this connection it is submitted that all the fire prevention and fire safety measures as recommended by you vide letter No.
													<input type="text" class="letter-no" ng-model="tc.selectedAttachment.attachment.letterNumber" disabled>
													dated
													<input type="date" class="letter-date" ng-model="tc.selectedAttachment.attachment.letterDate" disabled>
													have been provided in the building/premises and para wise compliance report is enclosed.
												</p>
												<p>
													You are requested to kindly take action as necessary for grant of fire safety certificate for occupancy of the building/premises.
												</p>
											</section>
											<section class="sender-details">
												Dated <input type="date" class="dated" ng-model="tc.selectedAttachment.attachment.date" disabled><br>
												Contact Details <input type="text" class="contact-details" ng-model="tc.selectedAttachment.attachment.contactDetails" disabled><br>
												Name in full <input type="text" class="name" ng-model="tc.selectedAttachment.attachment.name" disabled><br>
												Tel No. <input type="tel" class="telephone" ng-model="tc.selectedAttachment.attachment.telephone" disabled><br>
												Mobile No. <input type="tel" class="mobile" ng-model="tc.selectedAttachment.attachment.mobile" disabled><br>
											</section>
										</section>
									</div>
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Inspection Details'">
									<div>
										<span>Date of Inspection: </span> {{tc.selectedAttachment.attachment.data.date}}
										<br><br>
										<span>Officers: </span> {{tc.selectedAttachment.attachment.data.officers}}
									</div>
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Recommendations'">
									<div>
										{{tc.selectedAttachment.attachment.data.data}}
									</div>
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Divisional Officer Review'">
									<div>
										<span>Divisional Officer {{tc.selectedAttachment.attachment.data.decision === 'true' ? 'Accepted' : 'Rejected'}} the recommendations</span>
										<br><br>
										<span>Comments</span>
										<br>
										{{tc.selectedAttachment.attachment.data.review}}
									</div>
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Deputy Chief Fire Officer Review'">
									<div>
										<span>Deputy Chief Fire Officer {{tc.selectedAttachment.attachment.data.decision === 'true' ? 'Accepted' : 'Rejected'}} the recommendations</span>
										<br><br>
										<span>Comments</span>
										<br>
										{{tc.selectedAttachment.attachment.data.review}}
									</div>
								</div>
								<div class="application-form" ng-show="tc.selectedAttachment.display === 'Decision'">
									<div>
										<span>Director {{tc.selectedAttachment.attachment.data.decision === 'true' ? 'Accepted' : 'Rejected'}} the application</span>
									</div>
								</div>
							</div>
						</section>
						<section ui-view></section>
					</section>
					<section class="action-bar">
						<section class="actions">
							<h5>Actions</h5>
							<button class="claim" ng-click="tc.claimTask()" ng-show="!tc.task.assignee">Claim Task</button>
							<button class="complete" ng-click="tc.completeTask()" ng-show="tc.task.assignee && !tc.task.complete">Complete Task</button>
						</section>
						<section class="notes">
							<h5>Notes</h5>
							<ul>
								<li class="note" ng-repeat="comment in tc.comments">
									<img src="app/images/profile.svg">
									<div>
										<span>{{comment.message}}</span>
										<address>{{comment.author}}</address>
										<time>{{comment.time | date:'medium'}}</time>
									</div>
								</li>
							</ul>
							<hr>
							<textarea rows="4" placeholder="Type your note here..." ng-model="tc.commentText"></textarea>
							<button type="submit" ng-click="tc.addComment()">Save</button>
						</section>
					</section>
				</section>
			</section>
		</section>
	</div>
</div>
